table {border: 1px solid black;
        
    }
td, tr, th{border: 1px solid black;
    color:blue;
    
}    

#inp{width:120px}


  a{
    margin-bottom: 2px;
    -webkit-text-fill-color: rgb(253, 200, 80);
    text-shadow:0px 1px yellow ;
    font-size: 20px;
}

label{
    
    -webkit-text-fill-color: rgb(253, 200, 80);
    text-shadow:0px 0px yellow ;
    font-size: 10px;
}

.jumbotron .container h1 {
    font-family: "Pacifico";
    font-size: 4em;
}



.navbar.navbar-default .navbar-collapse {
    border: none;
    box-shadow: none;
  }

.navbar {
    background-image: url("/app/images/PianoMusicFanpop.jpg");
  background-size:100%; 
    }


.tblCal {
    background-image: url("/app/images/grand-piano.jpg");
    background-repeat: no-repeat;
    width:100%;
    color:white;
    padding-left:15px;
    text-shadow:0px 0px yellow ;
}