
<h2>Calendar</h2>

<br>


<div>
<h4>Add to cell</h4>
<input  id="inp" type="text" ng-model="dayCell" autofocus class="form-control">
</div>

<div>

<!--This view is responsible for showing, updating and deleting a task-->
<div class="container">
        
    <div class="page-header">
    <h1>{{task.name}}</h1>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <form class="form-horizontal">
        <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Enter task" ng-model="task.name">
        </div>
        </div>
        <div class="form-group">
        <label class="control-label col-sm-2" for="payment">Payment:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="payment" placeholder="Enter payment" ng-model="task.payment" min="0" step="150"  value="0.00">
        </div>
        </div>
        <div class="form-group">
        <label class="control-label col-sm-2" for="yearsPlaying">Years playing:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="yearsPlaying" placeholder="Years playing" ng-model="task.yearsPlaying">
        </div>
        </div>
        <div class="form-group">
        <label class="control-label col-sm-2" for="notes">Notes:</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" id="notes" placeholder="Notes list" ng-model="task.notes"></textarea>
        </div>
        </div>
        <div class="form-group">
        <label class="control-label col-sm-2" for="compositions">Compositions:</label>
        <div class="col-sm-10">
        
        <select ng-model="notesList" id="note" ng-options="pn.composer as pn.label group by pn.compositions for pn in notesList"></select>

        <ul ng-repeat="name in familyList" class="well">
                <li>{{5+5}}</li>

            </ul>
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="pull-right">
            <button type="summit" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="summit" class="btn btn-primary" ng-click="update()">Update</button>
            <button type="summit" class="btn btn-danger" ng-click="remove()">Delete</button>
            </div>
        </div>
        </div>
    </form>
    </div>


</div>



    <br>        

    <!--Calendar-->    
    <table class="table-bordered table-hover table-striped">
       <tr>
           <th class="alert-success">{{dayCell}}</th>
           <th data-ng-repeat="day in weekdays" class="well alert-success">
            {{day}}</th>
        </tr>

        <tr data-ng-repeat="hour in hours"  class="well alert-info">
                <th class="well"> {{hour}} 
  
                </th>
                <td data-ng-repeat="day in weekdays">
                    <div class="well" li ng-hide="days.day == null || hour.hr==null">
                        </div> td
                    
                </td>
                    
        </tr>            
    </table>

</div>
<br>
