
    <h2>Calendar</h2>

<br>
<h4>Add to cell</h4>

<div>
<input  id="inp" type="text" ng-model="dayCell" autofocus class="form-control">
</div>

<div>
<br>        

        
    <table class="table-bordered table-hover table-striped">
       <tr>
           <th class="alert-success">{{dayCell}}</th>
           <th data-ng-repeat="day in weekdays" class="well alert-success">
            {{day}}</th>
        </tr>

        <tr data-ng-repeat="hour in hours"  class="well alert-info">
                <th > {{hour}} </th>
                <td data-ng-repeat="day in weekdays"></td>
        </tr>            
    </table>



</div>
<br>

