<div class="container">
  <div class-"well">
<label for="StudentName">Student Name: </label>
<input type="text" name="name" id="name" placeholder="Fill in Stdeunt name" ng-model="name"><br>

<label for="email">email: </label>
<input type="text" name="email" id="email" placeholder="Fill in Stdeunt email" ng-model="email"><br>

<label for="pass">password: </label>
<input type="string" name="pass" id="pass" placeholder="Fill in Stdeunt password" ng-model="pass"><br>

<label for="byear">Birth year: </label>
<input type="number" name="byear" id="byear" placeholder="Fill in Stdeunt start year" ng-model="byear"><br>

<button ng-click="addStudent()" class="well-sm">Add student</button>
<br>
</div>
<br>


<select ng-model="delName" ng-options="std.name for std in familyList" class="form-control"></select>

<br>
<button ng-click="delStudent()" class="well-sm">Remove student</button>
<hr>
<div class="well">
  
  <input type="text" ng-model="search">
  <br>
  {{search}}
  <ul ng-repeat="name in familyList | filter:search | orderBy:'name'">
    <li>{{name.name}} - {{name.email}} - {{name.pass}} - {{name.byear}}</li>
  </ul>
</div>
</div>